[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggperiodic"]
	path = ggperiodic
	url = https://github.com/eliocamp/ggperiodic
	shallow = true
	registered = true
[submodule "metamer"]
	path = metamer
	url = https://github.com/eliocamp/metamer
	shallow = true
	registered = true
[submodule "metR"]
	path = metR
	url = https://github.com/eliocamp/metr
	shallow = true
	registered = true
