[submodule ".registry"]
	path = .registry
	url = https://github.com/eliocamp/eliocamp.r-universe.dev
	branch = HEAD
[submodule "ggdatasaver"]
	path = ggdatasaver
	url = https://github.com/eliocamp/ggdatasaver
[submodule "ggnewscale"]
	path = ggnewscale
	url = https://github.com/eliocamp/ggnewscale
[submodule "metR"]
	path = metR
	url = https://github.com/eliocamp/metR
